In [5]:
import pandas as pd
from citipy import citipy

# Import Suitable_Wind.csv as a dataframe
suitable_wind_df = pd.read_csv("Resources/Suitable_Wind.csv")

suitable_wind_df.head()

            ID Element State      Value  Latitude  Longitude  Elevation
0  USC00050109    AWND    CO  47.200534   40.1550  -103.1417     1384.4
1  USC00052947    AWND    CO  40.141416   40.6483  -102.8594     1297.2
2  USC00053261    AWND    CO  44.030606   39.7053  -105.6997     2596.9
3  USC00116344    AWND    IL  36.978536   40.1100   -87.9567      205.7
4  USC00185934    AWND    MD  42.654162   39.7194   -76.8028      262.1

In [7]:
# Add a new empty column"City"
suitable_wind_df["City"]=""

In [10]:
# Identify nearest city for each lat, lng combination in suitable_wind_df
# Put city name in suitable_wind_df 
for index, row in suitable_wind_df.iterrows():
    lats = row['Latitude']
    lngs = row['Longitude']
    city = citipy.nearest_city(lats, lngs).city_name.title()
    suitable_wind_df.loc[index,'City'] = city

In [11]:
# Output the first five rows to check
suitable_wind_df.head()

,ID,Element,State,Value,Latitude,Longitude,Elevation,City
0,USC00050109,AWND,CO,47.200534,40.1550,-103.1417,1384.4,Sterling
1,USC00052947,AWND,CO,40.141416,40.6483,-102.8594,1297.2,Sterling
2,USC00053261,AWND,CO,44.030606,39.7053,-105.6997,2596.9,Golden
3,USC00116344,AWND,IL,36.978536,40.1100,-87.9567,205.7,Urbana
4,USC00185934,AWND,MD,42.654162,39.7194,-76.8028,262.1,Hanover

In [12]:
# Import Suitable_Wind.csv as a dataframe
city_densiity_df= pd.read_csv("Resources/uscitiesv1.4.csv")
city_densiity_df=city_densiity_df.rename(columns={"city":"City"})
city_densiity_df.head()

,City,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,population_proper,density,source,incorporated,timezone,zips,id
0,Prairie Ridge,Prairie Ridge,WA,Washington,53053,Pierce,47.1443,-122.1408,NaN,NaN,1349.8,polygon,False,America/Los_Angeles,98360 98391,1840037882
1,Edison,Edison,WA,Washington,53057,Skagit,48.5602,-122.4311,NaN,NaN,127.4,polygon,False,America/Los_Angeles,98232,1840017314
2,Packwood,Packwood,WA,Washington,53041,Lewis,46.6085,-121.6702,NaN,NaN,213.9,polygon,False,America/Los_Angeles,98361,1840025265
3,Wautauga Beach,Wautauga Beach,WA,Washington,53035,Kitsap,47.5862,-122.5482,NaN,NaN,261.7,point,False,America/Los_Angeles,98366,1840037725
4,Harper,Harper,WA,Washington,53035,Kitsap,47.5207,-122.5196,NaN,NaN,342.1,point,False,America/Los_Angeles,98366,1840037659

In [60]:
wind_city_df = wind_df.merge(city_densiity_df, on="City",how="left")

In [61]:
wind_city_df.head(5)

,ID,Element,State,Value,Latitude,Longitude,Elevation,City,city_ascii,state_id,...,lat,lng,population,population_proper,density,source,incorporated,timezone,zips,id
0,USC00050109,AWND,CO,47.200534,40.155,-103.1417,1384.4,Sterling,Sterling,VA,...,39.0052,-77.4052,NaN,NaN,1887.4,polygon,False,America/New_York,20164 20163 20167,1.840025e+09
1,USC00050109,AWND,CO,47.200534,40.155,-103.1417,1384.4,Sterling,Sterling,ND,...,46.8139,-100.2915,NaN,NaN,22.4,point,False,America/Chicago,58572,1.840033e+09
2,USC00050109,AWND,CO,47.200534,40.155,-103.1417,1384.4,Sterling,Sterling,NE,...,40.4613,-96.3775,458.0,458.0,434.0,polygon,True,America/Chicago,68443,1.840012e+09
3,USC00050109,AWND,CO,47.200534,40.155,-103.1417,1384.4,Sterling,Sterling,CO,...,40.6207,-103.1919,15228.0,13988.0,709.0,polygon,True,America/Denver,80751,1.840021e+09
4,USC00050109,AWND,CO,47.200534,40.155,-103.1417,1384.4,Sterling,Sterling,AK,...,60.5405,-150.8089,NaN,NaN,88.2,polygon,False,America/Anchorage,99672 99669,1.840023e+09

In [62]:
wind_city_df.duplicated().sum()

0

In [63]:
wind_city_df['density'].describe()

count     2028.000000
mean       556.764250
std        779.280405
min          0.200000
25%        140.000000
50%        362.000000
75%        693.500000
max      11892.600000
Name: density, dtype: float64

In [68]:
existed_windfarm_df = pd.read_csv('windTurbines.csv')
existed_windfarm_df.head()

,FID,unique_id,site_name,total_turb,on_year,year_range,on_year_s,manufac,model,type_tower,...,conf_attr,conf_loc,WENDI_name,EIA_name,FAA_jdate,FAA_AGL,FAA_ORS,image_name,image_year,comments
0,0,982,unknown Gilliam County,2,unknown,unknown,-99999,unknown,unknown,unknown,...,0,0,unknown,unknown,2013192,124.09,41-020577,Bing Maps Aerial,unknown,"FAA lists as Dismantle, google temporal analys..."
1,1,1065,unknown Gilliam County,2,unknown,unknown,-99999,unknown,unknown,unknown,...,0,0,unknown,unknown,2013192,124.09,41-020578,Bing Maps Aerial,unknown,"FAA lists as Dismantle, google temporal analys..."
2,2,1895,Banner Wind Project,2,2008,no,2008,Entegrity,EW50,trestle,...,2,2,Banner Wind Project,unknown,2009065,38.72,02-020064,Bing Maps Aerial,unknown,"trestle turbines removed, new monopoles instal..."
3,3,1897,Banner Wind Project,2,2008,no,2008,Entegrity,EW50,trestle,...,2,2,Banner Wind Project,unknown,2009065,38.72,02-020070,Bing Maps Aerial,unknown,"trestle turbines removed, new monopoles instal..."
4,4,2608,unknown Tehachapi Wind Resource Area 1,549,1982_1990,yes,1982,unknown,unknown,monopole,...,0,2,unknown,unknown,-99999,-99999.00,unknown,NAIP,2012,

In [70]:
existed_windfarm_df["site_name"].unique()

array(['unknown Gilliam County', 'Banner Wind Project',
       'unknown Tehachapi Wind Resource Area 1', ...,
       'Sheperds Flat Central', 'Washington State Univ', 'High Plains'],
      dtype=object)